* {
  font-family: sans-serif;
}

.App {
  max-width: 80rem;
  margin: 10rem auto;
}

.characterList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.characterList img {
  cursor: pointer;
}

.xyCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
